*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}

a{
    text-decoration: none;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("img/bkSinterboat.png");
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 120px;
    cursor: pointer;
}

.navbar ul li{
    left: 30%;
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

    .button-wrapper {
      position: relative;
      display: inline-block;
    }

    .sint-button {
      color: white;
      padding: 15px 40px;
      font-size: 20px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      position: relative;
      z-index: 2;
      margin: 50px;
      height: 100px;
      width: 100px;
    }

    .piet-image {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%) translateY(-10%);
      width: 200px;
      transition: transform 0.5s ease-out;
      z-index: 1;
      pointer-events: none;
      height: 0;
    }

    .button-wrapper:hover .piet-image {
      transform: translateX(-50%) translateY(-130px);
      height: 200px;
    }

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.content h1{
    font-size: 70px;
    margin-top: 80px;
}

.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

.text_bn{
    text-align: center;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    position: absolute;
    left: 80px;
    top: 160px;
}

.text_bn_info{
    text-align: center;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    position: absolute;
    left: 110px;
    top: 160px;
}
